.flex-card{
  display: flex;
}
h1 {
  text-decoration: underline;
}
h1:hover {
  text-decoration: underline;
  font-style: italic;
  text-decoration-style: wavy;
}

.heading {
  margin: auto;
  background-color: #363636;
  border-radius: 10px;
}

